In [1]:
import os, pandas as pd


lena=pd.read_excel(os.path.join("data","leña.xlsx"))

In [2]:
lena=lena.iloc[:,1:]
lena.head(20)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN
8,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",NaN,NaN
9,NaN,NaN,NaN,NaN
10,H: La energía o combustible que utiliza para c...,Casos,%,Acumulado %
11,No usa leña,6301,0.753798,0.753798
12,Sí usa leña,2058,0.246202,1
13,Total,8359,1,1
14,NaN,NaN,NaN,NaN
15,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",NaN,NaN
16,NaN,NaN,NaN,NaN
17,H: La energía o combustible que utiliza para c...,Casos,%,Acumulado %
18,No usa leña,6,0.057692,0.057692
19,Sí usa leña,98,0.942308,1

In [3]:
lena=lena[~lena.isnull().all(axis=1)]

In [4]:
lena=lena[~lena.iloc[:,0].str.startswith('H:')]

In [5]:
lena=lena.loc[:13122,:]

In [6]:
lena.reset_index(drop=True,inplace=True)
lena

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",NaN,NaN
1,No usa leña,6301,0.753798,0.753798
2,Sí usa leña,2058,0.246202,1
3,Total,8359,1,1
4,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",NaN,NaN
...,...,...,...,...
7488,Total,1295,1,1
7489,AREA # 250401,"Ucayali, Purús, distrito: Purús",NaN,NaN
7490,No usa leña,178,0.258721,0.258721
7491,Sí usa leña,510,0.741279,1
7492,Total,688,1,1

In [7]:
lena=lena[~(lena.iloc[:,0].str.startswith('No') | lena.iloc[:,0].str.startswith('To'))]

In [8]:
lena.reset_index(drop=True,inplace=True)

In [9]:
lena=lena.iloc[:,:-1]

In [10]:
lena['lenha_pct']=lena.iloc[:,2].shift(-1)
lena

,Unnamed: 1,Unnamed: 2,Unnamed: 3,lenha_pct
0,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",NaN,0.246202
1,Sí usa leña,2058,0.246202,NaN
2,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",NaN,0.942308
3,Sí usa leña,98,0.942308,NaN
4,AREA # 010103,"Amazonas, Chachapoyas, distrito: Balsas",NaN,0.853521
...,...,...,...,...
3741,Sí usa leña,977,0.507532,NaN
3742,AREA # 250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",NaN,0.511197
3743,Sí usa leña,662,0.511197,NaN
3744,AREA # 250401,"Ucayali, Purús, distrito: Purús",NaN,0.741279
3745,Sí usa leña,510,0.741279,None

In [11]:
lena=lena.iloc[:,[0,1,3]]
lena

,Unnamed: 1,Unnamed: 2,lenha_pct
0,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",0.246202
1,Sí usa leña,2058,NaN
2,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",0.942308
3,Sí usa leña,98,NaN
4,AREA # 010103,"Amazonas, Chachapoyas, distrito: Balsas",0.853521
...,...,...,...
3741,Sí usa leña,977,NaN
3742,AREA # 250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",0.511197
3743,Sí usa leña,662,NaN
3744,AREA # 250401,"Ucayali, Purús, distrito: Purús",0.741279
3745,Sí usa leña,510,None

In [12]:
lena=lena[~(lena.iloc[:,0].str.startswith('Sí'))].reset_index(drop=True)
lena.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 1  1874 non-null   object
 1   Unnamed: 2  1874 non-null   object
 2   lenha_pct   1872 non-null   object
dtypes: object(3)
memory usage: 44.0+ KB

In [13]:
lena[lena.isnull().any(axis=1)]

,Unnamed: 1,Unnamed: 2,lenha_pct
693,AREA # 070105,"Prov. Constitucional del Callao, distrito: La ...",NaN
1295,AREA # 150116,"Lima, Lima, distrito: Lince",NaN

In [14]:
lena['lenha_pct']=lena.lenha_pct.fillna(0)
lena.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 1  1874 non-null   object
 1   Unnamed: 2  1874 non-null   object
 2   lenha_pct   1874 non-null   float64
dtypes: float64(1), object(2)
memory usage: 44.0+ KB

In [15]:
lena.iloc[0::2,1]

0            Amazonas, Chachapoyas, distrito: Chachapoyas
2                 Amazonas, Chachapoyas, distrito: Balsas
4              Amazonas, Chachapoyas, distrito: Chiliquin
6                Amazonas, Chachapoyas, distrito: Granada
8               Amazonas, Chachapoyas, distrito: La Jalca
                              ...
1864                 Ucayali, Atalaya, distrito: Raymondi
1866                 Ucayali, Atalaya, distrito: Tahuania
1868            Ucayali, Padre Abad, distrito: Padre Abad
1870              Ucayali, Padre Abad, distrito: Curimana
1872    Ucayali, Padre Abad, distrito: Alexander Von H...
Name: Unnamed: 2, Length: 937, dtype: object

In [16]:
lena['code']=lena.iloc[:,0].str.split(r'# ',expand=True).iloc[:,1]
lena=lena.iloc[:,1:]
lena

                                             Unnamed: 2  lenha_pct    code
0          Amazonas, Chachapoyas, distrito: Chachapoyas   0.246202  010101
1             Amazonas, Chachapoyas, distrito: Asunción   0.942308  010102
2               Amazonas, Chachapoyas, distrito: Balsas   0.853521  010103
3                Amazonas, Chachapoyas, distrito: Cheto   0.818182  010104
4            Amazonas, Chachapoyas, distrito: Chiliquin   0.956311  010105
...                                                 ...        ...     ...
1869             Ucayali, Padre Abad, distrito: Irazola   0.545455  250302
1870            Ucayali, Padre Abad, distrito: Curimana   0.726645  250303
1871             Ucayali, Padre Abad, distrito: Neshuya   0.507532  250304
1872  Ucayali, Padre Abad, distrito: Alexander Von H...   0.511197  250305
1873                    Ucayali, Purús, distrito: Purús   0.741279  250401

[1874 rows x 3 columns]

In [17]:
lena[lena.iloc[:,0].str.contains('allao')].iloc[:,0]

689    Prov. Constitucional del Callao, distrito: Callao
690    Prov. Constitucional del Callao, distrito: Bel...
691    Prov. Constitucional del Callao, distrito: Car...
692    Prov. Constitucional del Callao, distrito: La ...
693    Prov. Constitucional del Callao, distrito: La ...
694    Prov. Constitucional del Callao, distrito: Ven...
695    Prov. Constitucional del Callao, distrito: Mi ...
Name: Unnamed: 2, dtype: object

In [18]:
callao1='Prov. Constitucional del Callao, '
callao2='Prov. Constitucional del Callao, Prov. Constitucional del Callao, '

In [19]:
lena.iloc[:,0]=lena.iloc[:,0].str.replace(callao1,callao2, regex=False)

In [20]:
lena.iloc[:,0].str.split(r'distrito:|,',expand=True).iloc[:,[0,1,3]]

             0             1                        3
0     Amazonas   Chachapoyas              Chachapoyas
1     Amazonas   Chachapoyas                 Asunción
2     Amazonas   Chachapoyas                   Balsas
3     Amazonas   Chachapoyas                    Cheto
4     Amazonas   Chachapoyas                Chiliquin
...        ...           ...                      ...
1869   Ucayali    Padre Abad                  Irazola
1870   Ucayali    Padre Abad                 Curimana
1871   Ucayali    Padre Abad                  Neshuya
1872   Ucayali    Padre Abad   Alexander Von Humboldt
1873   Ucayali         Purús                    Purús

[1874 rows x 3 columns]

In [33]:
lena=pd.concat([lena.iloc[:,0].str.split(r'distrito:|,',expand=True).iloc[:,[0,1,3]],lena.iloc[:,1:]],axis=1)
lena

IndexError: positional indexers are out-of-bounds

In [22]:
lena.columns=['Departamento','Provincia','Distrito','lenha_pct','code']

In [23]:
lena.loc[:,:'Distrito']=lena.loc[:,:'Distrito'].apply(lambda x:x.str.strip())

In [24]:
lena[lena.Provincia.str.contains('allao')]

,Departamento,Provincia,Distrito,lenha_pct,code
689,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Callao,0.003671,070101
690,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Bellavista,0.000296,070102
691,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Carmen de la Legua Reynoso,0.001389,070103
692,Prov. Constitucional del Callao,Prov. Constitucional del Callao,La Perla,0.000397,070104
693,Prov. Constitucional del Callao,Prov. Constitucional del Callao,La Punta,0.000000,070105
694,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Ventanilla,0.058954,070106
695,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Mi Perú,0.029458,070107

In [25]:
lena.replace({'Prov. Constitucional del Callao':'Callao'},inplace=True)

In [26]:
lena['key']=lena.Departamento+lena.Provincia+lena.Distrito

In [27]:
lena.key=lena.key.str.upper()

In [28]:
lena.key=lena.key.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [29]:
lena[lena.isnull().any(axis=1)]

Empty DataFrame
Columns: [Departamento, Provincia, Distrito, lenha_pct, code, key]
Index: []

In [34]:
lena

,Departamento,Provincia,Distrito,lenha_pct,code,key
0,Amazonas,Chachapoyas,Chachapoyas,0.246202,010101,AMAZONASCHACHAPOYASCHACHAPOYAS
1,Amazonas,Chachapoyas,Asunción,0.942308,010102,AMAZONASCHACHAPOYASASUNCION
2,Amazonas,Chachapoyas,Balsas,0.853521,010103,AMAZONASCHACHAPOYASBALSAS
3,Amazonas,Chachapoyas,Cheto,0.818182,010104,AMAZONASCHACHAPOYASCHETO
4,Amazonas,Chachapoyas,Chiliquin,0.956311,010105,AMAZONASCHACHAPOYASCHILIQUIN
...,...,...,...,...,...,...
1869,Ucayali,Padre Abad,Irazola,0.545455,250302,UCAYALIPADRE ABADIRAZOLA
1870,Ucayali,Padre Abad,Curimana,0.726645,250303,UCAYALIPADRE ABADCURIMANA
1871,Ucayali,Padre Abad,Neshuya,0.507532,250304,UCAYALIPADRE ABADNESHUYA
1872,Ucayali,Padre Abad,Alexander Von Humboldt,0.511197,250305,UCAYALIPADRE ABADALEXANDER VON HUMBOLDT
1873,Ucayali,Purús,Purús,0.741279,250401,UCAYALIPURUSPURUS

In [35]:
import geopandas as gpd

distmap=gpd.read_file(os.path.join("maps","peru_shp_distritos1874","DISTRITOS1874.SHP"))

In [36]:
distmap

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."
...,...,...,...,...,...
1869,LIMA,LIMA,CIENEGUILLA,IGN,"POLYGON ((-76.72917 -11.99948, -76.72596 -11.9..."
1870,LIMA,LIMA,ANCON,IGN,"POLYGON ((-77.06501 -11.57523, -77.06499 -11.5..."
1871,LIMA,LIMA,CARABAYLLO,IGN,"POLYGON ((-76.89892 -11.72963, -76.89768 -11.7..."
1872,CALLAO,CALLAO,MI PERU,IGN,"POLYGON ((-77.11491 -11.84189, -77.11450 -11.8..."
1873,LIMA,LIMA,SANTIAGO DE SURCO,IGN,"POLYGON ((-76.95742 -12.07604, -76.95741 -12.0..."

In [37]:
distmap['key']=distmap.DEPARTAMEN+distmap.PROVINCIA+distmap.DISTRITO

In [38]:
distmap['key']=distmap.key.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
distmap.key=distmap.key.str.upper().str.strip()
distmap.key=distmap.key.str.replace(r'  ',' ',regex=True)

In [39]:
distmap.merge(lena, on='key', how='outer')

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry,key,Departamento,Provincia,Distrito,lenha_pct,code
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1...",TACNATACNACORONEL GREGORIO ALBARRACIN LANCHIPA,Tacna,Tacna,Coronel Gregorio Albarracin Lanchipa,0.090590,230110
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9...",TACNATACNAPOCOLLAY,Tacna,Tacna,Pocollay,0.124197,230108
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9...",TACNATACNACALANA,Tacna,Tacna,Calana,0.566914,230103
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9...",TACNATACNATACNA,Tacna,Tacna,Tacna,0.052440,230101
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9...",TACNATACNASAMA,Tacna,Tacna,Sama,0.427014,230109
...,...,...,...,...,...,...,...,...,...,...,...
1898,NaN,NaN,NaN,NaN,None,LIMAYAUYOSALLAUCA,Lima,Yauyos,Allauca,0.855696,151003
1899,NaN,NaN,NaN,NaN,None,PIURASECHURARINCONADA LLICUAR,Piura,Sechura,Rinconada Llicuar,0.510490,200806
1900,NaN,NaN,NaN,NaN,None,SAN MARTINPICOTATRES UNIDOS,San Martín,Picota,Tres Unidos,0.865419,220710
1901,NaN,NaN,NaN,NaN,None,SAN MARTINSAN MARTINPAPAPLAYA,San Martín,San Martín,Papaplaya,0.877477,220911
1902,NaN,NaN,NaN,NaN,None,TACNATARATAESTIQUE-PAMPA,Tacna,Tarata,Estique-Pampa,0.938272,230404

In [40]:
onlyMap=set(distmap.key)-set(lena.key)
onlyMap

{'APURIMACAYMARAESCARAIBAMBA',
 'APURIMACCHINCHEROSANCO HUALLO',
 'AYACUCHOVICTOR FAJARDOHUAYA',
 'AYACUCHOVILCAS-HUAMANACCOMARCA',
 'AYACUCHOVILCAS-HUAMANCARHUANCA',
 'AYACUCHOVILCAS-HUAMANCONCEPCION',
 'AYACUCHOVILCAS-HUAMANHUAMBALPA',
 'AYACUCHOVILCAS-HUAMANINDEPENDENCIA',
 'AYACUCHOVILCAS-HUAMANSAURAMA',
 'AYACUCHOVILCAS-HUAMANVILCAS HUAMAN',
 'AYACUCHOVILCAS-HUAMANVISCHONGO',
 'HUANCAVELICAANGARAESHUALLAY GRANDE',
 'HUANCAVELICAANGARAESHUANCA HUANCA',
 'HUANUCOHUANUCOQUISQUI',
 'ICANAZCACHANGUILLO',
 'ICANAZCAEL INGENIO',
 'ICANAZCAMARCONA',
 'ICANAZCANAZCA',
 'ICANAZCAVISTA ALEGRE',
 'JUNINCHUPACASAN JUAN DE YSCOS',
 'JUNINJAUJAMASMA-CHICCHE',
 'JUNINJAUJATUNAN-MARCA',
 'LIMAHUAROCHIRILARAOS',
 'LIMALIMAMAGDALENA VIEJA',
 'LIMAYAUYOSAYAUCA',
 'PIURASECHURARINCONADA-LLICUAR',
 'SAN MARTINPICOTATRES-UNIDOS',
 'SAN MARTINSAN MARTINPAPA-PLAYA',
 'TACNATARATAESTIQUE PAMPA'}

In [41]:
onlyLena=set(lena.key)-set(distmap.key)
onlyLena

{'APURIMACAYMARAESCARAYBAMBA',
 'APURIMACCHINCHEROSANCO_HUALLO',
 'AYACUCHOVICTOR FAJARDOHUALLA',
 'AYACUCHOVILCAS HUAMANACCOMARCA',
 'AYACUCHOVILCAS HUAMANCARHUANCA',
 'AYACUCHOVILCAS HUAMANCONCEPCION',
 'AYACUCHOVILCAS HUAMANHUAMBALPA',
 'AYACUCHOVILCAS HUAMANINDEPENDENCIA',
 'AYACUCHOVILCAS HUAMANSAURAMA',
 'AYACUCHOVILCAS HUAMANVILCAS HUAMAN',
 'AYACUCHOVILCAS HUAMANVISCHONGO',
 'HUANCAVELICAANGARAESHUANCA-HUANCA',
 'HUANCAVELICAANGARAESHUAYLLAY GRANDE',
 'HUANUCOHUANUCOQUISQUI (KICHKI)',
 'ICANASCACHANGUILLO',
 'ICANASCAEL INGENIO',
 'ICANASCAMARCONA',
 'ICANASCANASCA',
 'ICANASCAVISTA ALEGRE',
 'JUNINCHUPACASAN JUAN DE ISCOS',
 'JUNINJAUJAMASMA CHICCHE',
 'JUNINJAUJATUNAN MARCA',
 'LIMAHUAROCHIRISAN PEDRO DE LARAOS',
 'LIMALIMAPUEBLO LIBRE',
 'LIMAYAUYOSALLAUCA',
 'PIURASECHURARINCONADA LLICUAR',
 'SAN MARTINPICOTATRES UNIDOS',
 'SAN MARTINSAN MARTINPAPAPLAYA',
 'TACNATARATAESTIQUE-PAMPA'}

In [42]:
from thefuzz import process as fz

# take a country from OnlyFragile
# look for a country in OnlyCia and return the most similar
[(l,fz.extractOne(l, onlyMap)) for l in sorted(onlyLena)]

[('APURIMACAYMARAESCARAYBAMBA', ('APURIMACAYMARAESCARAIBAMBA', 96)),
 ('APURIMACCHINCHEROSANCO_HUALLO', ('APURIMACCHINCHEROSANCO HUALLO', 97)),
 ('AYACUCHOVICTOR FAJARDOHUALLA', ('AYACUCHOVICTOR FAJARDOHUAYA', 95)),
 ('AYACUCHOVILCAS HUAMANACCOMARCA', ('AYACUCHOVILCAS-HUAMANACCOMARCA', 100)),
 ('AYACUCHOVILCAS HUAMANCARHUANCA', ('AYACUCHOVILCAS-HUAMANCARHUANCA', 100)),
 ('AYACUCHOVILCAS HUAMANCONCEPCION', ('AYACUCHOVILCAS-HUAMANCONCEPCION', 100)),
 ('AYACUCHOVILCAS HUAMANHUAMBALPA', ('AYACUCHOVILCAS-HUAMANHUAMBALPA', 100)),
 ('AYACUCHOVILCAS HUAMANINDEPENDENCIA',
  ('AYACUCHOVILCAS-HUAMANINDEPENDENCIA', 100)),
 ('AYACUCHOVILCAS HUAMANSAURAMA', ('AYACUCHOVILCAS-HUAMANSAURAMA', 100)),
 ('AYACUCHOVILCAS HUAMANVILCAS HUAMAN',
  ('AYACUCHOVILCAS-HUAMANVILCAS HUAMAN', 100)),
 ('AYACUCHOVILCAS HUAMANVISCHONGO', ('AYACUCHOVILCAS-HUAMANVISCHONGO', 100)),
 ('HUANCAVELICAANGARAESHUANCA-HUANCA',
  ('HUANCAVELICAANGARAESHUANCA HUANCA', 100)),
 ('HUANCAVELICAANGARAESHUAYLLAY GRANDE',
  ('HUANCAVELICAANGARAESHUALLAY GRANDE', 99)),
 ('HUANUCOHUANUCOQUISQUI (KICHKI)', ('HUANUCOHUANUCOQUISQUI', 95)),
 ('ICANASCACHANGUILLO', ('ICANAZCACHANGUILLO', 94)),
 ('ICANASCAEL INGENIO', ('ICANAZCAEL INGENIO', 94)),
 ('ICANASCAMARCONA', ('ICANAZCAMARCONA', 93)),
 ('ICANASCANASCA', ('ICANAZCANAZCA', 85)),
 ('ICANASCAVISTA ALEGRE', ('ICANAZCAVISTA ALEGRE', 95)),
 ('JUNINCHUPACASAN JUAN DE ISCOS', ('JUNINCHUPACASAN JUAN DE YSCOS', 97)),
 ('JUNINJAUJAMASMA CHICCHE', ('JUNINJAUJAMASMA-CHICCHE', 100)),
 ('JUNINJAUJATUNAN MARCA', ('JUNINJAUJATUNAN-MARCA', 100)),
 ('LIMAHUAROCHIRISAN PEDRO DE LARAOS', ('LIMAHUAROCHIRILARAOS', 75)),
 ('LIMALIMAPUEBLO LIBRE', ('LIMALIMAMAGDALENA VIEJA', 56)),
 ('LIMAYAUYOSALLAUCA', ('LIMAYAUYOSAYAUCA', 91)),
 ('PIURASECHURARINCONADA LLICUAR', ('PIURASECHURARINCONADA-LLICUAR', 100)),
 ('SAN MARTINPICOTATRES UNIDOS', ('SAN MARTINPICOTATRES-UNIDOS', 100)),
 ('SAN MARTINSAN MARTINPAPAPLAYA', ('SAN MARTINSAN MARTINPAPA-PLAYA', 98)),
 ('TACNATARATAESTIQUE-PAMPA', ('TACNATARATAESTIQUE PAMPA', 100))]

In [43]:
changesLena1={l:fz.extractOne(l, onlyMap)[0] 
                 for l in sorted(onlyLena)}
#dict of matches
changesLena1

{'APURIMACAYMARAESCARAYBAMBA': 'APURIMACAYMARAESCARAIBAMBA',
 'APURIMACCHINCHEROSANCO_HUALLO': 'APURIMACCHINCHEROSANCO HUALLO',
 'AYACUCHOVICTOR FAJARDOHUALLA': 'AYACUCHOVICTOR FAJARDOHUAYA',
 'AYACUCHOVILCAS HUAMANACCOMARCA': 'AYACUCHOVILCAS-HUAMANACCOMARCA',
 'AYACUCHOVILCAS HUAMANCARHUANCA': 'AYACUCHOVILCAS-HUAMANCARHUANCA',
 'AYACUCHOVILCAS HUAMANCONCEPCION': 'AYACUCHOVILCAS-HUAMANCONCEPCION',
 'AYACUCHOVILCAS HUAMANHUAMBALPA': 'AYACUCHOVILCAS-HUAMANHUAMBALPA',
 'AYACUCHOVILCAS HUAMANINDEPENDENCIA': 'AYACUCHOVILCAS-HUAMANINDEPENDENCIA',
 'AYACUCHOVILCAS HUAMANSAURAMA': 'AYACUCHOVILCAS-HUAMANSAURAMA',
 'AYACUCHOVILCAS HUAMANVILCAS HUAMAN': 'AYACUCHOVILCAS-HUAMANVILCAS HUAMAN',
 'AYACUCHOVILCAS HUAMANVISCHONGO': 'AYACUCHOVILCAS-HUAMANVISCHONGO',
 'HUANCAVELICAANGARAESHUANCA-HUANCA': 'HUANCAVELICAANGARAESHUANCA HUANCA',
 'HUANCAVELICAANGARAESHUAYLLAY GRANDE': 'HUANCAVELICAANGARAESHUALLAY GRANDE',
 'HUANUCOHUANUCOQUISQUI (KICHKI)': 'HUANUCOHUANUCOQUISQUI',
 'ICANASCACHANGUILLO': 'ICANAZCACHANGUILLO',
 'ICANASCAEL INGENIO': 'ICANAZCAEL INGENIO',
 'ICANASCAMARCONA': 'ICANAZCAMARCONA',
 'ICANASCANASCA': 'ICANAZCANAZCA',
 'ICANASCAVISTA ALEGRE': 'ICANAZCAVISTA ALEGRE',
 'JUNINCHUPACASAN JUAN DE ISCOS': 'JUNINCHUPACASAN JUAN DE YSCOS',
 'JUNINJAUJAMASMA CHICCHE': 'JUNINJAUJAMASMA-CHICCHE',
 'JUNINJAUJATUNAN MARCA': 'JUNINJAUJATUNAN-MARCA',
 'LIMAHUAROCHIRISAN PEDRO DE LARAOS': 'LIMAHUAROCHIRILARAOS',
 'LIMALIMAPUEBLO LIBRE': 'LIMALIMAMAGDALENA VIEJA',
 'LIMAYAUYOSALLAUCA': 'LIMAYAUYOSAYAUCA',
 'PIURASECHURARINCONADA LLICUAR': 'PIURASECHURARINCONADA-LLICUAR',
 'SAN MARTINPICOTATRES UNIDOS': 'SAN MARTINPICOTATRES-UNIDOS',
 'SAN MARTINSAN MARTINPAPAPLAYA': 'SAN MARTINSAN MARTINPAPA-PLAYA',
 'TACNATARATAESTIQUE-PAMPA': 'TACNATARATAESTIQUE PAMPA'}

In [44]:
lena.key.replace(to_replace=changesLena1,inplace=True)

In [46]:
lena

,Departamento,Provincia,Distrito,lenha_pct,code,key
0,Amazonas,Chachapoyas,Chachapoyas,0.246202,010101,AMAZONASCHACHAPOYASCHACHAPOYAS
1,Amazonas,Chachapoyas,Asunción,0.942308,010102,AMAZONASCHACHAPOYASASUNCION
2,Amazonas,Chachapoyas,Balsas,0.853521,010103,AMAZONASCHACHAPOYASBALSAS
3,Amazonas,Chachapoyas,Cheto,0.818182,010104,AMAZONASCHACHAPOYASCHETO
4,Amazonas,Chachapoyas,Chiliquin,0.956311,010105,AMAZONASCHACHAPOYASCHILIQUIN
...,...,...,...,...,...,...
1869,Ucayali,Padre Abad,Irazola,0.545455,250302,UCAYALIPADRE ABADIRAZOLA
1870,Ucayali,Padre Abad,Curimana,0.726645,250303,UCAYALIPADRE ABADCURIMANA
1871,Ucayali,Padre Abad,Neshuya,0.507532,250304,UCAYALIPADRE ABADNESHUYA
1872,Ucayali,Padre Abad,Alexander Von Humboldt,0.511197,250305,UCAYALIPADRE ABADALEXANDER VON HUMBOLDT
1873,Ucayali,Purús,Purús,0.741279,250401,UCAYALIPURUSPURUS

In [45]:
lenaMap=distmap.merge(lena, on='key').loc[:,['key','DEPARTAMEN','PROVINCIA','DISTRITO','lenha_pct','geometry']]
lenaMap

,key,DEPARTAMEN,PROVINCIA,DISTRITO,lenha_pct,geometry
0,TACNATACNACORONEL GREGORIO ALBARRACIN LANCHIPA,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,0.090590,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNATACNAPOCOLLAY,TACNA,TACNA,POCOLLAY,0.124197,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNATACNACALANA,TACNA,TACNA,CALANA,0.566914,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNATACNATACNA,TACNA,TACNA,TACNA,0.052440,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNATACNASAMA,TACNA,TACNA,SAMA,0.427014,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."
...,...,...,...,...,...,...
1869,LIMALIMACIENEGUILLA,LIMA,LIMA,CIENEGUILLA,0.134573,"POLYGON ((-76.72917 -11.99948, -76.72596 -11.9..."
1870,LIMALIMAANCON,LIMA,LIMA,ANCON,0.070872,"POLYGON ((-77.06501 -11.57523, -77.06499 -11.5..."
1871,LIMALIMACARABAYLLO,LIMA,LIMA,CARABAYLLO,0.050134,"POLYGON ((-76.89892 -11.72963, -76.89768 -11.7..."
1872,CALLAOCALLAOMI PERU,CALLAO,CALLAO,MI PERU,0.029458,"POLYGON ((-77.11491 -11.84189, -77.11450 -11.8..."
1873,LIMALIMASANTIAGO DE SURCO,LIMA,LIMA,SANTIAGO DE SURCO,0.000994,"POLYGON ((-76.95742 -12.07604, -76.95741 -12.0..."

In [72]:
distmap.to_file(os.path.join("maps","distritosPeru.gpkg"), layer='polygons', driver="GPKG")
lenaMap.to_file(os.path.join("maps","distritosPeru.gpkg"), layer='lenha', driver="GPKG")