In [1]:
import os, pandas as pd


lena=pd.read_excel(os.path.join("data","leña.xlsx"))

In [2]:
lena

,Título,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,H: La energía o combustible que utiliza para c...,NaN,NaN,NaN,NaN
1,Área Geográfica,NaN,NaN,NaN,NaN
2,Toda la Base de Datos,NaN,NaN,NaN,NaN
3,Universo,NaN,NaN,NaN,NaN
4,Viviendas Particulares,NaN,NaN,NaN,NaN
...,...,...,...,...,...
13127,NaN,Sí usa leña,2282423,0.276581,1
13128,NaN,Total,8252284,1,1
13129,NaN,NaN,NaN,NaN,NaN
13130,Fuente: Censos Nacionales de Población y Vivie...,NaN,NaN,NaN,NaN
13131,Instituto Nacional de Estadística e Informátic...,NaN,NaN,NaN,NaN

In [3]:
import dtale

dtale.show(lena)

Executing shutdown due to inactivity...

2023-06-04 13:07:35,419 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2023-06-04 13:07:35,639 - INFO     - Executing shutdown...

Exception on /shutdown [GET]
Traceback (most recent call last):
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 2528, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 1825, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 1823, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/dtale/app.py", line 435, in shutdown
    shutdown_server()
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/dtale/app.py", line 421, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

2023-06-04 13:07:35,644 - ERROR    - Exception on /shutdown [GET]
Traceback (most recent call last):
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 2528, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 1825, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 1823, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/dtale/app.py", line 435, in shutdown
    shutdown_server()
  File "/Users/JoseManuel/opt/anaconda3/envs/Spatial_DS_3_11/lib/python3.11/site-packages/dtale/app.py", line 421, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

In [43]:
lena=lena.iloc[:,1:]
lena.head(20)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN
8,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",NaN,NaN
9,NaN,NaN,NaN,NaN
10,H: La energía o combustible que utiliza para c...,Casos,%,Acumulado %
11,No usa leña,6301,0.753798,0.753798
12,Sí usa leña,2058,0.246202,1
13,Total,8359,1,1
14,NaN,NaN,NaN,NaN
15,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",NaN,NaN
16,NaN,NaN,NaN,NaN
17,H: La energía o combustible que utiliza para c...,Casos,%,Acumulado %
18,No usa leña,6,0.057692,0.057692
19,Sí usa leña,98,0.942308,1

In [44]:
lena=lena[~lena.isnull().all(axis=1)]

In [45]:
lena=lena[~lena.iloc[:,0].str.startswith('H:')]

In [46]:
lena=lena.loc[:13122,:]

In [47]:
lena.reset_index(drop=True,inplace=True)
lena

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",NaN,NaN
1,No usa leña,6301,0.753798,0.753798
2,Sí usa leña,2058,0.246202,1
3,Total,8359,1,1
4,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",NaN,NaN
...,...,...,...,...
7488,Total,1295,1,1
7489,AREA # 250401,"Ucayali, Purús, distrito: Purús",NaN,NaN
7490,No usa leña,178,0.258721,0.258721
7491,Sí usa leña,510,0.741279,1
7492,Total,688,1,1

In [48]:
lena=lena[~(lena.iloc[:,0].str.startswith('No') | lena.iloc[:,0].str.startswith('To'))]

In [49]:
lena.reset_index(drop=True,inplace=True)

In [50]:
lena=lena.iloc[:,:-1]

In [51]:
lena['lenha_pct']=lena.iloc[:,2].shift(-1)
lena

,Unnamed: 1,Unnamed: 2,Unnamed: 3,lenha_pct
0,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",NaN,0.246202
1,Sí usa leña,2058,0.246202,NaN
2,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",NaN,0.942308
3,Sí usa leña,98,0.942308,NaN
4,AREA # 010103,"Amazonas, Chachapoyas, distrito: Balsas",NaN,0.853521
...,...,...,...,...
3741,Sí usa leña,977,0.507532,NaN
3742,AREA # 250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",NaN,0.511197
3743,Sí usa leña,662,0.511197,NaN
3744,AREA # 250401,"Ucayali, Purús, distrito: Purús",NaN,0.741279
3745,Sí usa leña,510,0.741279,None

In [52]:
lena=lena.iloc[:,[0,1,3]]
lena

,Unnamed: 1,Unnamed: 2,lenha_pct
0,AREA # 010101,"Amazonas, Chachapoyas, distrito: Chachapoyas",0.246202
1,Sí usa leña,2058,NaN
2,AREA # 010102,"Amazonas, Chachapoyas, distrito: Asunción",0.942308
3,Sí usa leña,98,NaN
4,AREA # 010103,"Amazonas, Chachapoyas, distrito: Balsas",0.853521
...,...,...,...
3741,Sí usa leña,977,NaN
3742,AREA # 250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",0.511197
3743,Sí usa leña,662,NaN
3744,AREA # 250401,"Ucayali, Purús, distrito: Purús",0.741279
3745,Sí usa leña,510,None

In [53]:
lena=lena[~(lena.iloc[:,0].str.startswith('Sí'))].reset_index(drop=True)
lena.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 1  1874 non-null   object
 1   Unnamed: 2  1874 non-null   object
 2   lenha_pct   1872 non-null   object
dtypes: object(3)
memory usage: 44.0+ KB

In [54]:
lena[lena.isnull().any(axis=1)]

,Unnamed: 1,Unnamed: 2,lenha_pct
693,AREA # 070105,"Prov. Constitucional del Callao, distrito: La ...",NaN
1295,AREA # 150116,"Lima, Lima, distrito: Lince",NaN

In [55]:
lena['lenha_pct']=lena.lenha_pct.fillna(0)
lena.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 1  1874 non-null   object
 1   Unnamed: 2  1874 non-null   object
 2   lenha_pct   1874 non-null   float64
dtypes: float64(1), object(2)
memory usage: 44.0+ KB

In [56]:
lena.iloc[0::2,1]

0            Amazonas, Chachapoyas, distrito: Chachapoyas
2                 Amazonas, Chachapoyas, distrito: Balsas
4              Amazonas, Chachapoyas, distrito: Chiliquin
6                Amazonas, Chachapoyas, distrito: Granada
8               Amazonas, Chachapoyas, distrito: La Jalca
                              ...
1864                 Ucayali, Atalaya, distrito: Raymondi
1866                 Ucayali, Atalaya, distrito: Tahuania
1868            Ucayali, Padre Abad, distrito: Padre Abad
1870              Ucayali, Padre Abad, distrito: Curimana
1872    Ucayali, Padre Abad, distrito: Alexander Von H...
Name: Unnamed: 2, Length: 937, dtype: object

In [57]:
lena['code']=lena.iloc[:,0].str.split(r'# ',expand=True).iloc[:,1]
lena=lena.iloc[:,1:]
lena

                                             Unnamed: 2  lenha_pct    code
0          Amazonas, Chachapoyas, distrito: Chachapoyas   0.246202  010101
1             Amazonas, Chachapoyas, distrito: Asunción   0.942308  010102
2               Amazonas, Chachapoyas, distrito: Balsas   0.853521  010103
3                Amazonas, Chachapoyas, distrito: Cheto   0.818182  010104
4            Amazonas, Chachapoyas, distrito: Chiliquin   0.956311  010105
...                                                 ...        ...     ...
1869             Ucayali, Padre Abad, distrito: Irazola   0.545455  250302
1870            Ucayali, Padre Abad, distrito: Curimana   0.726645  250303
1871             Ucayali, Padre Abad, distrito: Neshuya   0.507532  250304
1872  Ucayali, Padre Abad, distrito: Alexander Von H...   0.511197  250305
1873                    Ucayali, Purús, distrito: Purús   0.741279  250401

[1874 rows x 3 columns]

In [58]:
lena[lena.iloc[:,0].str.contains('allao')].iloc[:,0]

689    Prov. Constitucional del Callao, distrito: Callao
690    Prov. Constitucional del Callao, distrito: Bel...
691    Prov. Constitucional del Callao, distrito: Car...
692    Prov. Constitucional del Callao, distrito: La ...
693    Prov. Constitucional del Callao, distrito: La ...
694    Prov. Constitucional del Callao, distrito: Ven...
695    Prov. Constitucional del Callao, distrito: Mi ...
Name: Unnamed: 2, dtype: object

In [59]:
callao1='Prov. Constitucional del Callao, '
callao2='Prov. Constitucional del Callao, Prov. Constitucional del Callao, '

In [60]:
lena.iloc[:,0]=lena.iloc[:,0].str.replace(callao1,callao2, regex=False)

In [61]:
lena.iloc[:,0].str.split(r'distrito:|,',expand=True).iloc[:,[0,1,3]]

             0             1                        3
0     Amazonas   Chachapoyas              Chachapoyas
1     Amazonas   Chachapoyas                 Asunción
2     Amazonas   Chachapoyas                   Balsas
3     Amazonas   Chachapoyas                    Cheto
4     Amazonas   Chachapoyas                Chiliquin
...        ...           ...                      ...
1869   Ucayali    Padre Abad                  Irazola
1870   Ucayali    Padre Abad                 Curimana
1871   Ucayali    Padre Abad                  Neshuya
1872   Ucayali    Padre Abad   Alexander Von Humboldt
1873   Ucayali         Purús                    Purús

[1874 rows x 3 columns]

In [62]:
lena=pd.concat([lena.iloc[:,0].str.split(r'distrito:|,',expand=True).iloc[:,[0,1,3]],lena.iloc[:,1:]],axis=1)
lena

             0             1                        3  lenha_pct    code
0     Amazonas   Chachapoyas              Chachapoyas   0.246202  010101
1     Amazonas   Chachapoyas                 Asunción   0.942308  010102
2     Amazonas   Chachapoyas                   Balsas   0.853521  010103
3     Amazonas   Chachapoyas                    Cheto   0.818182  010104
4     Amazonas   Chachapoyas                Chiliquin   0.956311  010105
...        ...           ...                      ...        ...     ...
1869   Ucayali    Padre Abad                  Irazola   0.545455  250302
1870   Ucayali    Padre Abad                 Curimana   0.726645  250303
1871   Ucayali    Padre Abad                  Neshuya   0.507532  250304
1872   Ucayali    Padre Abad   Alexander Von Humboldt   0.511197  250305
1873   Ucayali         Purús                    Purús   0.741279  250401

[1874 rows x 5 columns]

In [63]:
lena.columns=['Departamento','Provincia','Distrito','lenha_pct','code']

In [64]:
lena.loc[:,:'Distrito']=lena.loc[:,:'Distrito'].apply(lambda x:x.str.strip())

In [65]:
lena[lena.Provincia.str.contains('allao')]

,Departamento,Provincia,Distrito,lenha_pct,code
689,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Callao,0.003671,070101
690,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Bellavista,0.000296,070102
691,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Carmen de la Legua Reynoso,0.001389,070103
692,Prov. Constitucional del Callao,Prov. Constitucional del Callao,La Perla,0.000397,070104
693,Prov. Constitucional del Callao,Prov. Constitucional del Callao,La Punta,0.000000,070105
694,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Ventanilla,0.058954,070106
695,Prov. Constitucional del Callao,Prov. Constitucional del Callao,Mi Perú,0.029458,070107

In [66]:
lena.replace({'Prov. Constitucional del Callao':'Callao'},inplace=True)

In [70]:
lena['key']=['_'.join(DPd) for DPd in zip(lena.Departamento,lena.Provincia,lena.Distrito)]

In [71]:
lena.key=lena.key.str.upper()

In [72]:
lena.key=lena.key.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [73]:
lena[lena.isnull().any(axis=1)]

Empty DataFrame
Columns: [Departamento, Provincia, Distrito, lenha_pct, code, key]
Index: []

In [74]:
lena

,Departamento,Provincia,Distrito,lenha_pct,code,key
0,Amazonas,Chachapoyas,Chachapoyas,0.246202,010101,AMAZONAS_CHACHAPOYAS_CHACHAPOYAS
1,Amazonas,Chachapoyas,Asunción,0.942308,010102,AMAZONAS_CHACHAPOYAS_ASUNCION
2,Amazonas,Chachapoyas,Balsas,0.853521,010103,AMAZONAS_CHACHAPOYAS_BALSAS
3,Amazonas,Chachapoyas,Cheto,0.818182,010104,AMAZONAS_CHACHAPOYAS_CHETO
4,Amazonas,Chachapoyas,Chiliquin,0.956311,010105,AMAZONAS_CHACHAPOYAS_CHILIQUIN
...,...,...,...,...,...,...
1869,Ucayali,Padre Abad,Irazola,0.545455,250302,UCAYALI_PADRE ABAD_IRAZOLA
1870,Ucayali,Padre Abad,Curimana,0.726645,250303,UCAYALI_PADRE ABAD_CURIMANA
1871,Ucayali,Padre Abad,Neshuya,0.507532,250304,UCAYALI_PADRE ABAD_NESHUYA
1872,Ucayali,Padre Abad,Alexander Von Humboldt,0.511197,250305,UCAYALI_PADRE ABAD_ALEXANDER VON HUMBOLDT
1873,Ucayali,Purús,Purús,0.741279,250401,UCAYALI_PURUS_PURUS

In [75]:
import geopandas as gpd

distmap=gpd.read_file(os.path.join("maps","peru_shp_distritos1874","DISTRITOS1874.SHP"))

In [76]:
distmap

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."
...,...,...,...,...,...
1869,LIMA,LIMA,CIENEGUILLA,IGN,"POLYGON ((-76.72917 -11.99948, -76.72596 -11.9..."
1870,LIMA,LIMA,ANCON,IGN,"POLYGON ((-77.06501 -11.57523, -77.06499 -11.5..."
1871,LIMA,LIMA,CARABAYLLO,IGN,"POLYGON ((-76.89892 -11.72963, -76.89768 -11.7..."
1872,CALLAO,CALLAO,MI PERU,IGN,"POLYGON ((-77.11491 -11.84189, -77.11450 -11.8..."
1873,LIMA,LIMA,SANTIAGO DE SURCO,IGN,"POLYGON ((-76.95742 -12.07604, -76.95741 -12.0..."

In [77]:
distmap['key']=['_'.join(DPd) for DPd in zip(distmap.DEPARTAMEN,distmap.PROVINCIA,distmap.DISTRITO)]

In [78]:
distmap['key']=distmap.key.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
distmap.key=distmap.key.str.upper().str.strip()
distmap.key=distmap.key.str.replace(r'  ',' ',regex=True)

In [79]:
distmap.merge(lena, on='key', how='outer')

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry,key,Departamento,Provincia,Distrito,lenha_pct,code
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1...",TACNA_TACNA_CORONEL GREGORIO ALBARRACIN LANCHIPA,Tacna,Tacna,Coronel Gregorio Albarracin Lanchipa,0.090590,230110
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9...",TACNA_TACNA_POCOLLAY,Tacna,Tacna,Pocollay,0.124197,230108
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9...",TACNA_TACNA_CALANA,Tacna,Tacna,Calana,0.566914,230103
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9...",TACNA_TACNA_TACNA,Tacna,Tacna,Tacna,0.052440,230101
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9...",TACNA_TACNA_SAMA,Tacna,Tacna,Sama,0.427014,230109
...,...,...,...,...,...,...,...,...,...,...,...
1898,NaN,NaN,NaN,NaN,None,LIMA_YAUYOS_ALLAUCA,Lima,Yauyos,Allauca,0.855696,151003
1899,NaN,NaN,NaN,NaN,None,PIURA_SECHURA_RINCONADA LLICUAR,Piura,Sechura,Rinconada Llicuar,0.510490,200806
1900,NaN,NaN,NaN,NaN,None,SAN MARTIN_PICOTA_TRES UNIDOS,San Martín,Picota,Tres Unidos,0.865419,220710
1901,NaN,NaN,NaN,NaN,None,SAN MARTIN_SAN MARTIN_PAPAPLAYA,San Martín,San Martín,Papaplaya,0.877477,220911
1902,NaN,NaN,NaN,NaN,None,TACNA_TARATA_ESTIQUE-PAMPA,Tacna,Tarata,Estique-Pampa,0.938272,230404

In [80]:
onlyMap=set(distmap.key)-set(lena.key)
onlyMap

{'APURIMAC_AYMARAES_CARAIBAMBA',
 'APURIMAC_CHINCHEROS_ANCO HUALLO',
 'AYACUCHO_VICTOR FAJARDO_HUAYA',
 'AYACUCHO_VILCAS-HUAMAN_ACCOMARCA',
 'AYACUCHO_VILCAS-HUAMAN_CARHUANCA',
 'AYACUCHO_VILCAS-HUAMAN_CONCEPCION',
 'AYACUCHO_VILCAS-HUAMAN_HUAMBALPA',
 'AYACUCHO_VILCAS-HUAMAN_INDEPENDENCIA',
 'AYACUCHO_VILCAS-HUAMAN_SAURAMA',
 'AYACUCHO_VILCAS-HUAMAN_VILCAS HUAMAN',
 'AYACUCHO_VILCAS-HUAMAN_VISCHONGO',
 'HUANCAVELICA_ANGARAES_HUALLAY GRANDE',
 'HUANCAVELICA_ANGARAES_HUANCA HUANCA',
 'HUANUCO_HUANUCO_QUISQUI',
 'ICA_NAZCA_CHANGUILLO',
 'ICA_NAZCA_EL INGENIO',
 'ICA_NAZCA_MARCONA',
 'ICA_NAZCA_NAZCA',
 'ICA_NAZCA_VISTA ALEGRE',
 'JUNIN_CHUPACA_SAN JUAN DE YSCOS',
 'JUNIN_JAUJA_MASMA-CHICCHE',
 'JUNIN_JAUJA_TUNAN-MARCA',
 'LIMA_HUAROCHIRI_LARAOS',
 'LIMA_LIMA_MAGDALENA VIEJA',
 'LIMA_YAUYOS_AYAUCA',
 'PIURA_SECHURA_RINCONADA-LLICUAR',
 'SAN MARTIN_PICOTA_TRES-UNIDOS',
 'SAN MARTIN_SAN MARTIN_PAPA-PLAYA',
 'TACNA_TARATA_ESTIQUE PAMPA'}

In [81]:
onlyLena=set(lena.key)-set(distmap.key)
onlyLena

{'APURIMAC_AYMARAES_CARAYBAMBA',
 'APURIMAC_CHINCHEROS_ANCO_HUALLO',
 'AYACUCHO_VICTOR FAJARDO_HUALLA',
 'AYACUCHO_VILCAS HUAMAN_ACCOMARCA',
 'AYACUCHO_VILCAS HUAMAN_CARHUANCA',
 'AYACUCHO_VILCAS HUAMAN_CONCEPCION',
 'AYACUCHO_VILCAS HUAMAN_HUAMBALPA',
 'AYACUCHO_VILCAS HUAMAN_INDEPENDENCIA',
 'AYACUCHO_VILCAS HUAMAN_SAURAMA',
 'AYACUCHO_VILCAS HUAMAN_VILCAS HUAMAN',
 'AYACUCHO_VILCAS HUAMAN_VISCHONGO',
 'HUANCAVELICA_ANGARAES_HUANCA-HUANCA',
 'HUANCAVELICA_ANGARAES_HUAYLLAY GRANDE',
 'HUANUCO_HUANUCO_QUISQUI (KICHKI)',
 'ICA_NASCA_CHANGUILLO',
 'ICA_NASCA_EL INGENIO',
 'ICA_NASCA_MARCONA',
 'ICA_NASCA_NASCA',
 'ICA_NASCA_VISTA ALEGRE',
 'JUNIN_CHUPACA_SAN JUAN DE ISCOS',
 'JUNIN_JAUJA_MASMA CHICCHE',
 'JUNIN_JAUJA_TUNAN MARCA',
 'LIMA_HUAROCHIRI_SAN PEDRO DE LARAOS',
 'LIMA_LIMA_PUEBLO LIBRE',
 'LIMA_YAUYOS_ALLAUCA',
 'PIURA_SECHURA_RINCONADA LLICUAR',
 'SAN MARTIN_PICOTA_TRES UNIDOS',
 'SAN MARTIN_SAN MARTIN_PAPAPLAYA',
 'TACNA_TARATA_ESTIQUE-PAMPA'}

In [82]:
from thefuzz import process as fz

# take a country from OnlyFragile
# look for a country in OnlyCia and return the most similar
[(l,fz.extractOne(l, onlyMap)) for l in sorted(onlyLena)]

[('APURIMAC_AYMARAES_CARAYBAMBA', ('APURIMAC_AYMARAES_CARAIBAMBA', 96)),
 ('APURIMAC_CHINCHEROS_ANCO_HUALLO', ('APURIMAC_CHINCHEROS_ANCO HUALLO', 97)),
 ('AYACUCHO_VICTOR FAJARDO_HUALLA', ('AYACUCHO_VICTOR FAJARDO_HUAYA', 95)),
 ('AYACUCHO_VILCAS HUAMAN_ACCOMARCA',
  ('AYACUCHO_VILCAS-HUAMAN_ACCOMARCA', 100)),
 ('AYACUCHO_VILCAS HUAMAN_CARHUANCA',
  ('AYACUCHO_VILCAS-HUAMAN_CARHUANCA', 100)),
 ('AYACUCHO_VILCAS HUAMAN_CONCEPCION',
  ('AYACUCHO_VILCAS-HUAMAN_CONCEPCION', 100)),
 ('AYACUCHO_VILCAS HUAMAN_HUAMBALPA',
  ('AYACUCHO_VILCAS-HUAMAN_HUAMBALPA', 100)),
 ('AYACUCHO_VILCAS HUAMAN_INDEPENDENCIA',
  ('AYACUCHO_VILCAS-HUAMAN_INDEPENDENCIA', 100)),
 ('AYACUCHO_VILCAS HUAMAN_SAURAMA', ('AYACUCHO_VILCAS-HUAMAN_SAURAMA', 100)),
 ('AYACUCHO_VILCAS HUAMAN_VILCAS HUAMAN',
  ('AYACUCHO_VILCAS-HUAMAN_VILCAS HUAMAN', 100)),
 ('AYACUCHO_VILCAS HUAMAN_VISCHONGO',
  ('AYACUCHO_VILCAS-HUAMAN_VISCHONGO', 100)),
 ('HUANCAVELICA_ANGARAES_HUANCA-HUANCA',
  ('HUANCAVELICA_ANGARAES_HUANCA HUANCA', 100)),
 ('HUANCAVELICA_ANGARAES_HUAYLLAY GRANDE',
  ('HUANCAVELICA_ANGARAES_HUALLAY GRANDE', 99)),
 ('HUANUCO_HUANUCO_QUISQUI (KICHKI)', ('HUANUCO_HUANUCO_QUISQUI', 95)),
 ('ICA_NASCA_CHANGUILLO', ('ICA_NAZCA_CHANGUILLO', 95)),
 ('ICA_NASCA_EL INGENIO', ('ICA_NAZCA_EL INGENIO', 95)),
 ('ICA_NASCA_MARCONA', ('ICA_NAZCA_MARCONA', 94)),
 ('ICA_NASCA_NASCA', ('ICA_NAZCA_NAZCA', 87)),
 ('ICA_NASCA_VISTA ALEGRE', ('ICA_NAZCA_VISTA ALEGRE', 95)),
 ('JUNIN_CHUPACA_SAN JUAN DE ISCOS', ('JUNIN_CHUPACA_SAN JUAN DE YSCOS', 97)),
 ('JUNIN_JAUJA_MASMA CHICCHE', ('JUNIN_JAUJA_MASMA-CHICCHE', 100)),
 ('JUNIN_JAUJA_TUNAN MARCA', ('JUNIN_JAUJA_TUNAN-MARCA', 100)),
 ('LIMA_HUAROCHIRI_SAN PEDRO DE LARAOS', ('LIMA_HUAROCHIRI_LARAOS', 77)),
 ('LIMA_LIMA_PUEBLO LIBRE', ('LIMA_LIMA_MAGDALENA VIEJA', 60)),
 ('LIMA_YAUYOS_ALLAUCA', ('LIMA_YAUYOS_AYAUCA', 92)),
 ('PIURA_SECHURA_RINCONADA LLICUAR', ('PIURA_SECHURA_RINCONADA-LLICUAR', 100)),
 ('SAN MARTIN_PICOTA_TRES UNIDOS', ('SAN MARTIN_PICOTA_TRES-UNIDOS', 100)),
 ('SAN MARTIN_SAN MARTIN_PAPAPLAYA', ('SAN MARTIN_SAN MARTIN_PAPA-PLAYA', 98)),
 ('TACNA_TARATA_ESTIQUE-PAMPA', ('TACNA_TARATA_ESTIQUE PAMPA', 100))]

In [83]:
changesLena1={l:fz.extractOne(l, onlyMap)[0] 
                 for l in sorted(onlyLena)}
#dict of matches
changesLena1

{'APURIMAC_AYMARAES_CARAYBAMBA': 'APURIMAC_AYMARAES_CARAIBAMBA',
 'APURIMAC_CHINCHEROS_ANCO_HUALLO': 'APURIMAC_CHINCHEROS_ANCO HUALLO',
 'AYACUCHO_VICTOR FAJARDO_HUALLA': 'AYACUCHO_VICTOR FAJARDO_HUAYA',
 'AYACUCHO_VILCAS HUAMAN_ACCOMARCA': 'AYACUCHO_VILCAS-HUAMAN_ACCOMARCA',
 'AYACUCHO_VILCAS HUAMAN_CARHUANCA': 'AYACUCHO_VILCAS-HUAMAN_CARHUANCA',
 'AYACUCHO_VILCAS HUAMAN_CONCEPCION': 'AYACUCHO_VILCAS-HUAMAN_CONCEPCION',
 'AYACUCHO_VILCAS HUAMAN_HUAMBALPA': 'AYACUCHO_VILCAS-HUAMAN_HUAMBALPA',
 'AYACUCHO_VILCAS HUAMAN_INDEPENDENCIA': 'AYACUCHO_VILCAS-HUAMAN_INDEPENDENCIA',
 'AYACUCHO_VILCAS HUAMAN_SAURAMA': 'AYACUCHO_VILCAS-HUAMAN_SAURAMA',
 'AYACUCHO_VILCAS HUAMAN_VILCAS HUAMAN': 'AYACUCHO_VILCAS-HUAMAN_VILCAS HUAMAN',
 'AYACUCHO_VILCAS HUAMAN_VISCHONGO': 'AYACUCHO_VILCAS-HUAMAN_VISCHONGO',
 'HUANCAVELICA_ANGARAES_HUANCA-HUANCA': 'HUANCAVELICA_ANGARAES_HUANCA HUANCA',
 'HUANCAVELICA_ANGARAES_HUAYLLAY GRANDE': 'HUANCAVELICA_ANGARAES_HUALLAY GRANDE',
 'HUANUCO_HUANUCO_QUISQUI (KICHKI)': 'HUANUCO_HUANUCO_QUISQUI',
 'ICA_NASCA_CHANGUILLO': 'ICA_NAZCA_CHANGUILLO',
 'ICA_NASCA_EL INGENIO': 'ICA_NAZCA_EL INGENIO',
 'ICA_NASCA_MARCONA': 'ICA_NAZCA_MARCONA',
 'ICA_NASCA_NASCA': 'ICA_NAZCA_NAZCA',
 'ICA_NASCA_VISTA ALEGRE': 'ICA_NAZCA_VISTA ALEGRE',
 'JUNIN_CHUPACA_SAN JUAN DE ISCOS': 'JUNIN_CHUPACA_SAN JUAN DE YSCOS',
 'JUNIN_JAUJA_MASMA CHICCHE': 'JUNIN_JAUJA_MASMA-CHICCHE',
 'JUNIN_JAUJA_TUNAN MARCA': 'JUNIN_JAUJA_TUNAN-MARCA',
 'LIMA_HUAROCHIRI_SAN PEDRO DE LARAOS': 'LIMA_HUAROCHIRI_LARAOS',
 'LIMA_LIMA_PUEBLO LIBRE': 'LIMA_LIMA_MAGDALENA VIEJA',
 'LIMA_YAUYOS_ALLAUCA': 'LIMA_YAUYOS_AYAUCA',
 'PIURA_SECHURA_RINCONADA LLICUAR': 'PIURA_SECHURA_RINCONADA-LLICUAR',
 'SAN MARTIN_PICOTA_TRES UNIDOS': 'SAN MARTIN_PICOTA_TRES-UNIDOS',
 'SAN MARTIN_SAN MARTIN_PAPAPLAYA': 'SAN MARTIN_SAN MARTIN_PAPA-PLAYA',
 'TACNA_TARATA_ESTIQUE-PAMPA': 'TACNA_TARATA_ESTIQUE PAMPA'}

In [84]:
lena.key.replace(to_replace=changesLena1,inplace=True)

In [85]:
lena.to_csv(os.path.join("data","lenha.csv"),index=False)

In [86]:
lenaMap=distmap.merge(lena, on='key').loc[:,['key','DEPARTAMEN','PROVINCIA','DISTRITO','lenha_pct','geometry']]
lenaMap

,key,DEPARTAMEN,PROVINCIA,DISTRITO,lenha_pct,geometry
0,TACNA_TACNA_CORONEL GREGORIO ALBARRACIN LANCHIPA,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,0.090590,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNA_TACNA_POCOLLAY,TACNA,TACNA,POCOLLAY,0.124197,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNA_TACNA_CALANA,TACNA,TACNA,CALANA,0.566914,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNA_TACNA_TACNA,TACNA,TACNA,TACNA,0.052440,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNA_TACNA_SAMA,TACNA,TACNA,SAMA,0.427014,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."
...,...,...,...,...,...,...
1869,LIMA_LIMA_CIENEGUILLA,LIMA,LIMA,CIENEGUILLA,0.134573,"POLYGON ((-76.72917 -11.99948, -76.72596 -11.9..."
1870,LIMA_LIMA_ANCON,LIMA,LIMA,ANCON,0.070872,"POLYGON ((-77.06501 -11.57523, -77.06499 -11.5..."
1871,LIMA_LIMA_CARABAYLLO,LIMA,LIMA,CARABAYLLO,0.050134,"POLYGON ((-76.89892 -11.72963, -76.89768 -11.7..."
1872,CALLAO_CALLAO_MI PERU,CALLAO,CALLAO,MI PERU,0.029458,"POLYGON ((-77.11491 -11.84189, -77.11450 -11.8..."
1873,LIMA_LIMA_SANTIAGO DE SURCO,LIMA,LIMA,SANTIAGO DE SURCO,0.000994,"POLYGON ((-76.95742 -12.07604, -76.95741 -12.0..."

In [87]:
distmap.to_file(os.path.join("maps","distritosPeru.gpkg"), layer='polygons', driver="GPKG")
lenaMap.to_file(os.path.join("maps","distritosPeru.gpkg"), layer='lenha', driver="GPKG")